<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>@@title - Personal Portfolio Template</title>
<meta name="description" content="Responsive Tailwind CSS Template">
<meta name="keywords" content="Onepage, creative, modern, responsive, clean">
<meta name="author" content="Javier Montenegro">
<meta name="website" content="">
<meta name="email" content="">
<meta name="version" content="1.0.0">
<!-- favicon -->
<link href="assets/images/favicon.ico" rel="shortcut icon">